image: mcr.microsoft.com/dotnet/core/sdk:2.2.301

#stages:
#  - build
#before_script:
#  - 'dotnet restore'
##  - 'npm install'
#build:
#  stage: build
#  script:
#    - 'dotnet build'
#    - 'chmod -R +x ./scripts'
##    - 'scripts/run-tests.bat'
#  only:
#    - master
#    - develop

stages:
  - test
  - performance
  - deploy

include:
  - template: ci/Browser-Performance.gitlab-ci.yml
  - template: ci/Container-Scanning.gitlab-ci.yml
  - template: ci/DAST.gitlab-ci.yml
  - template: ci/Dependency-Scanning.gitlab-ci.yml
  - template: ci/License-Management.gitlab-ci.yml
  - template: ci/SAST.gitlab-ci.yml

release:
  stage: deploy
  only:
    - master
  artifacts:
    paths:
      - publish/
  script:
    # The output path is relative to the position of the csproj-file
    - ./publish-all.sh

debug:
  before_script:
    - 'echo | dotnet --version' # must be v 2.2.300 or later for reporter tool to work
    - dotnet tool install dotnet-reportgenerator-globaltool --tool-path tools
  stage: test
  script:
    - dotnet test --logger "junit" --collect:"XPlat Code Coverage"
    # each reporttype must be a separate line, doesn't work together ; separated
    - ls -ld ${CI_PROJECT_DIR}/**/TestResults/*
    - ./tools/reportgenerator "-reports:${CI_PROJECT_DIR}/**/TestResults/*/coverage.cobertura.xml" "-targetdir:Reports_Coverage" -reportTypes:TextSummary;
    - ./tools/reportgenerator "-reports:${CI_PROJECT_DIR}/**/TestResults/*/coverage.cobertura.xml" "-targetdir:Reports_Coverage" -reportTypes:Html;
    - ls Reports_Coverage
    - cat ./Reports_Coverage/Summary.txt
    - echo 'End Summary'
  coverage: /Line coverage[\s\S].+%/
  artifacts:
    paths:
      - Reports_Coverage/
    reports:
      junit:
        - '*.Test/TestResults/TestResults.xml'

# takes upwards of 10 minutes, make manual
code_quality:
  stage: test
  when: manual
  image: docker:latest
  variables:
    DOCKER_DRIVER: overlay
  services:
    - docker:dind
  script:
    - docker pull codeclimate/codeclimate
    - docker run
      --env CODECLIMATE_DEBUG=1
      --env CODECLIMATE_CODE="$PWD"
      --volume "$PWD":/code
      --volume /var/run/docker.sock:/var/run/docker.sock
      --volume /tmp/cc:/tmp/cc
      codeclimate/codeclimate analyze -f html > report.html
    #- cat report.html

  artifacts:
    paths: [report.html]
  dependencies: []
  except:
    variables:
      - $CODE_QUALITY_DISABLED




