<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="MyGet-Develop" value="https://www.myget.org/F/ubiquitous-develop/" />
        <add key="MyGet-Master" value="https://www.myget.org/F/ubiquitous/" />
    </packageSources>
</configuration>