<h1>Products</h1>

<p *ngIf="!products"><em>Loading products...</em></p>

<table class='table table-striped' *ngIf="products">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Height</th>
      <th>Width</th>
      <th>Length</th>
      <th>Weight</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products.data">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.dimensions.height }}</td>
      <td>{{ product.dimensions.width }}</td>
      <td>{{ product.dimensions.length }}</td>
      <td>{{ product.dimensions.weight }}</td>
      <td>{{ product.lastFullUpdateDateTime | date: 'short'}}</td>
      <td><a class="product-detail" routerLink="/products/{{product.id}}">Details</a></td>
    </tr>
  </tbody>
</table>

