<!--      <td><a class="product-detail" routerLink="/products/{{product.id}}">Details</a></td>-->
<mat-form-field flex>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker" flex></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field flex>
  <mat-label>Product category</mat-label>
  <mat-select flex disableRipple>
    <mat-option *ngFor="let category of categories?.data"
                [value]="category.categoryId" flex
                (ngModelChange)="getProducts()"
                [(ngModel)]="categoryIdFilter"
                ngDefaultControl>
      {{category.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field flex>
  <mat-label flex>Product manufacturer</mat-label>
  <mat-select flex disableRipple [(ngModel)]="manufacturerIdFilter" (ngModelChange)="getProducts()">
    <mat-option *ngFor="let manufacturer of manufacturers?.data"
                [value]="manufacturer.id"
                ngDefaultControl>
      {{manufacturer.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> price</th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- height Column -->
    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef> height</th>
      <td mat-cell *matCellDef="let element"> {{element.dimensions.height}} </td>
    </ng-container>

    <!-- width Column -->
    <ng-container matColumnDef="width">
      <th mat-header-cell *matHeaderCellDef> width</th>
      <td mat-cell *matCellDef="let element"> {{element.dimensions.width}} </td>
    </ng-container>

    <!-- length Column -->
    <ng-container matColumnDef="length">
      <th mat-header-cell *matHeaderCellDef> length</th>
      <td mat-cell *matCellDef="let element"> {{element.dimensions.length}} </td>
    </ng-container>

    <!-- weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> weight</th>
      <td mat-cell *matCellDef="let element"> {{element.dimensions.weight}} </td>
    </ng-container>

    <!-- lastupdated Column -->
    <ng-container matColumnDef="lastUpdated">
      <th mat-header-cell *matHeaderCellDef> LastUpdated</th>
      <td mat-cell *matCellDef="let element"> {{element.lastFullUpdateDateTime | date: 'short'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

