table {
  width: 100%;
}

.fill-space {
flex: 1 1 auto;
}

tr:hover {
  background: #e2e2e2;
  text-wrap: initial;
}

.image{
  width: 50px;
  height:50px;
  background-size: cover;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width:767px) {
  body {font-size: 2px;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
  body {font-size: 10px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
  body {font-size: 20px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
  body {font-size: 30px;}
}
