//a.navbar-brand {
//  white-space: normal;
//  text-align: center;
//  word-break: break-all;
//}
//
//html {
//  font-size: 14px;
//}
////@media (min-width: 768px) {
////  html {
////    font-size: 16px;
////  }
////}
//
//.box-shadow {
//  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
//}
//
.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.mat-icon {
  font-size: 30px;
  align-self: auto;
  align-items: baseline;
}
