<div class="mat-icon-wrap">
  <mat-icon>notification</mat-icon>
</div>

<a class="mat-info-wrap">
  <div class="line">
    <div class="info-field notification-title">
      <mat-icon>warning</mat-icon>
      <span>{{ notification?.Id}}</span>
    </div>
    <div class="info-field notification-date">
      {{ notification.CreationTime | date: 'dd MMM hh:mm' }}
      Notification

    </div>
  </div>
  <div class="info-field info-field--bold">
    <mat-icon>info</mat-icon>
    <span>{{ notification?.EventType}}</span>
  </div>
</a>
