<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">

          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">local_shipping</i>
              </div>
              <p class="card-category">Manufacturers</p>
              <h3 class="card-title">3</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <a href="/manufacturers">Go to Manufacturers</a>
              </div>
            </div>
          </div>
        </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">redeem</i>
            </div>
            <p class="card-category">Stored Products</p>
            <h3 class="card-title">5 489
<!--              <small>GB</small>-->
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-info">info</i>
              <a href="/products">Go to Products</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">notifications</i>
<!--              <i class="material-icons">sync</i>-->
            </div>
            <p class="card-category">Processed Notifications</p>
            <h3 class="card-title">362 719</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 7 days
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">how_to_reg</i>
            </div>
            <p class="card-category">Subscribers</p>
            <h3 class="card-title">2</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i> Tracked from Github
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="card card-chart">
          <div class="card-header">
            <app-bar-chart></app-bar-chart>
          </div>
          <div class="card-body">
            <h4 class="card-title">Notifications Weekly</h4>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated just now
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4  ">
        <div class="card card-chart">
          <div class="card-header">
            <async-chart></async-chart>
          </div>
          <div class="card-body">
            <h4 class="card-title">Notifcations by Types</h4>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated just now
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
