<body>
<!--The content below is only a placeholder and can be replaced.-->
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
  enabled. Please enable
  Javascript and reload this page!</h2></noscript>

<app-nav-menu></app-nav-menu>
<app-loader></app-loader>
<div class="container">
  <mat-tab-group>
    <mat-tab label="Products">
      <ng-template matTabContent>
        <table-products></table-products>
      </ng-template>
    </mat-tab>
    <mat-tab label="Categories">
      <ng-template matTabContent>
        <table-categories></table-categories>
      </ng-template>
    </mat-tab>
    <mat-tab label="Manufacturers">
      <ng-template matTabContent>
        <table-manufacturers></table-manufacturers>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
</body>

