<body>
<app-nav-menu></app-nav-menu>
<app-loader></app-loader>
<div class="container">
<!--      <router-outlet>-->
<!--      </router-outlet>-->

  <mat-tab-group>
    <mat-tab label="Products">
      <ng-template matTabContent>
        <table-products></table-products>
      </ng-template>
    </mat-tab>
    <mat-tab label="Categories">
      <ng-template matTabContent>
        <table-categories></table-categories>
      </ng-template>
    </mat-tab>
    <mat-tab label="Manufacturers">
      <ng-template matTabContent>
        <table-manufacturers></table-manufacturers>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>
</body>
