<section id="main" class="main" fxLayout='row'>
  <section class="sidebar" fxFlex="220px">
    <div class="main-menu-header">
      <div fxLayout='row' fxFlex="200px">
        <div fxFlex="33%">
          <button mat-mini-fab>
            <mat-icon color="primary">message</mat-icon>
          </button>
        </div>
        <div fxFlex="33%">
          <button mat-mini-fab>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        <div fxFlex="33%">
          <button mat-mini-fab>
            <mat-icon>list</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="main-menu">
      <mat-list>
        <h3 mat-subheader>Navigation</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <h4 mat-line>
            <a href="#">Dashboard</a>
          </h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>featured_play_list</mat-icon>
          <h4 mat-line>
            <a href="#">Moja lista produktów</a>
          </h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>wb_sunnyt</mat-icon>
          <h4 mat-line>
            <a href="#">Produkty sezonowe</a>
          </h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Notes</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>
            <a href="#">Notatki</a>
          </h4>
        </mat-list-item>
      </mat-list>
    </div>
  </section>
</section>
